<div class="comment">
  <a class="avatar">
    <img src="https://api.adorable.io/avatars/285/{{answer.user}}.png">
  </a>
  <div class="content">
    <a class="author">{{answer.user}}</a>
    <div class="metadata">
      <span class="date">Temporal Holder</span>
    </div>
    <div class="text">
      {{answer.answer}}
    </div>
    <div class="actions">
      {{answer-edit answer=answer deleteAnswer="deleteAnswer"}}
    </div>
  </div>
</div>

<br>
