<div class="ui comments" style="max-width: 100%;text-align:right;">
  <h3 class="ui horizontal divider">Favorited Answers</h3>
  {{#each favoriteAnswers.faves as |answer|}}
    {{favorite-tile answer=answer refresh="refresh"}}
  {{/each}}
</div>
