<div class="title">
  {{question.question}}
  <span style="color:orange;">{{question.user}}</span>
</div>
<div class="content">
  {{question.further}}<hr>
  Answers
  {{question-edit question=question}}
</div>
