<head>
  <link rel="stylesheet" type="text/css"
         href="https://fonts.googleapis.com/css?family=Raleway|Monsterrat">
</head>

<body style="font-family:Raleway" style="height:100vh">

  <div class="ui pushable component context">
    {{#ui-sidebar class="inverted menu top inline horizontal" context=".component.context" id="sub-sidebar"}}
    <a class="item" href="/">Home</a>
    {{/ui-sidebar}}
    <div class="pusher">
      <div class="ui basic" style="min-height: 300px;">
        <div class="ui basic" {{action 'toggleSidebar' 'sub-sidebar'}}>
          <i class="caret down icon"></i>
        </div>
        {{outlet}}
      </div>
    </div>
  </div>
</body>

  <div style="text-align:right;">
    <h5>{{fa-icon "copyright"}} Eloavox Designs</h5>
  </div>
