<head>
  <link rel="stylesheet" type="text/css"
         href="https://fonts.googleapis.com/css?family=Raleway|Monsterrat">
</head>

<body style="font-family:Raleway" style="height:100vh">

  <div class="ui pushable component context">
    {{#ui-sidebar class="inverted menu top inline horizontal" context=".component.context" id="sub-sidebar"}}
    <span class="item">{{#link-to "index"}}Home{{/link-to}}</span>
    <span class="item">{{#link-to "favorites"}}Favorites{{/link-to}}</span>
    {{/ui-sidebar}}
    <div class="pusher">
      <div class="ui basic" style="min-height: 300px;">
        <div class="ui basic" style="padding-left:10px;padding-top:10px;"{{action 'toggleSidebar' 'sub-sidebar'}}>
          {{fa-icon "bars"}}
        </div>
        {{outlet}}
      </div>
    </div>
  </div>
</body>

  <div style="text-align:right;">
    <h5>{{fa-icon "copyright"}} Eloavox Designs</h5>
  </div>
