{{question-new createQuestion="createQuestion"}}

<div style="text-align:right;">
  <br>
  {{#ui-accordion class="ui styled fluid"}}
    {{#each model.questions as |question|}}
      {{question-tile question=question updateQuestion="updateQuestion" deleteQuestion="deleteQuestion" createAnswer="createAnswer" deleteAnswer="deleteAnswer" updateAnswer="updateAnswer"}}
    {{/each}}
  {{/ui-accordion}}
</div>
