<!-- <img src="assets/images/banner_cropped.png" alt="banner" style="width:100vw"/> -->
<div style="text-align:right;">
  ---
  {{#each model as |question|}}
    Test
  {{/each}}
</div>
<button {{action "testFunc"}}></button>
