<img src="assets/images/banner_cropped.png" alt="banner" style="width:100vw"/>
{{question-new createQuestion="createQuestion"}}

<div style="text-align:right;">
  <br>
  {{#ui-accordion class="ui styled fluid"}}
    {{#each model as |question|}}
      {{question-tile question=question}}
    {{/each}}
  {{/ui-accordion}}
</div>
